// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// lightbox2
@import 'lightbox2/dist/css/lightbox.min.css';

//fontawesome
@import '@fortawesome/fontawesome-free/css/all.min.css';

$base-color: #EDF2F9;
$base-text: #5E6E82;
$base-logo-1: #FF161F;
$base-logo-2: #1F191A;
$base-active: #2C7BE5;


// Custom
body {
    font-family: 'Nunito', sans-serif;
    background-color: $base-color;
    margin-right: auto !important;
    margin-left: auto !important;
}

.nav-thompson{
    a {
        color: $base-text;
        font-weight: 600;
    }
    .active-menu{
        color: $base-active;
    }
    .divider{
        color: $base-text;
        font-weight: 600;
        padding-top: 20px;
    }
}

.div-tienda{
    width: 100%;
    height: auto;
    //centrar imagen en el div 
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.div-tienda img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.img-detalle-producto{
    width: 100%;
    max-width: 600px;
    height: auto;
}

.img-detalle-producto img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.producto-destacado {
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 160px;
    z-index: 1000;
}

.producto-destacado-thumb {
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 100px;
    width: auto !important;
    height: auto !important;
}

.producto-oferta {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 280px;
    z-index: 1000;
}

.producto-oferta-thumb {
    position: absolute;
    right: 5px;
    top: 5px;
    max-width: 130px;
    width: auto !important;
    height: auto !important;
}